# Node.js
node_modules/
**/node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env
.env.*

# OS-specific junk
.DS_Store
Thumbs.db

# Build outputs
dist/
build/
coverage/
